<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find mikrorobot)/control/mikrorobot_control.yaml" command="load"/>
  
  <!-- Load robot description -->
  <param name="robot_description" command="cat $(find mikrorobot)/urdf/mikrorobot.urdf" />
  
  <!-- joint state controller -->
   <!-- load configuration -->
  <rosparam command="load" file="$(find joint_state_controller)/joint_state_controller.yaml" />
  <!-- spawn controller -->
  <node name="joint_state_controller_spawner" pkg="controller_manager" type="spawner" output="screen" ns="/mikrorobot" args="back_left_wheel_position_controller back_right_wheel_position_controller front_left_wheel_position_controller front_right_wheel_position_controller joint_state_controller" />

  <!-- state publisher is absolutely necessary -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <remap from="/joint_states" to="/mikrorobot/joint_states" />
  </node>

  <!-- This node combines different odometry sources to provide robust odometry -->
  <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
    <remap from="/imu_data" to="/mikrorobot/imu_data"/>
    <remap from="/odom" to="/mikrorobot/odom"/>
    <param name="output_frame" value="odom"/>
    <param name="base_footprint_frame" value="base_link"/>
    <param name="freq" value="30.0"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="true"/>
    <param name="vo_used" value="false"/>
    <param name="debug" value="false"/>
    <param name="self_diagnose" value="false"/>
    <param name="publish_tf" value="true"/>
  </node>

  <!-- Start gazebo -->
    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="worlds/willowgarage.world"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Spawn mikrorobot into Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find mikrorobot)/urdf/mikrorobot.urdf -urdf -z 1 -model mikrorobot" />

    <!-- node for mapping fra lidardata -->
  <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping" args="scan:=/mikrorobot/laser/scan"/>

  <!-- node for å vise bildene på skjermen -->
  <node pkg="image_view" type="image_view" name="image_view" respawn="false" output="log">
        <remap from="/image" to="/mikrorobot/camera1/image_raw" />
	<param name="autosize" value="true"/>
  </node>
  
</launch>
