<launch>
  <master auto="start"/>

  <!--- Run AMCL -->
  <include file="$(find amcl)/examples/amcl_omni.launch" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <remap from="cmd_vel" to="/mikrorobot/cmd_vel"/>
    <rosparam file="$(find mikrorobot)/navconfig/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find mikrorobot)/navconfig/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find mikrorobot)/navconfig/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find mikrorobot)/navconfig/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find mikrorobot)/navconfig/base_local_planner_params.yaml" command="load" />
  </node>
</launch>